.digitalScreenWithEnvironmenIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 773px;
  height: 1024px;
  object-fit: cover;
}
.welcomeBack {
  position: absolute;
  top: 209px;
  left: 929px;
  font-size: var(--font-size-lg);
}
.pleaseEnterYour {
  position: absolute;
  top: 284px;
  left: 1011px;
}
.signChild,
.signItem {
  position: absolute;
  top: 30px;
  left: 10px;
  border-radius: var(--br-sm);
  background-color: var(--color-gainsboro);
  width: 390px;
  height: 54px;
}
.signItem {
  top: 154px;
}
.email,
.password,
.signInner {
  position: absolute;
  top: 0;
  left: 10px;
}
.password,
.signInner {
  top: 120px;
}
.signInner {
  top: 241px;
  left: 0;
  border-radius: 50px;
  background-color: var(--color-gainsboro);
  width: 19px;
  height: 19px;
}
.rememberMe {
  position: absolute;
  top: 242px;
  left: 26px;
  font-size: var(--font-size-sm);
}
.dontHaveAn {
  position: absolute;
  top: 397px;
  left: 72px;
  cursor: pointer;
}
.forgotPassword {
  position: absolute;
  top: 242px;
  left: 298px;
  font-size: var(--font-size-sm);
}
.rectangleDiv {
  top: 304px;
  left: 7px;
  border-radius: var(--br-md);
  background-color: #14ff00;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 390px;
  height: 58px;
}
.rectangleDiv,
.sign,
.signIn {
  position: absolute;
}
.signIn {
  top: 322px;
  left: 166px;
  color: var(--color-black);
}
.sign {
  top: 373px;
  left: 919px;
  width: 400px;
  height: 421px;
}
.registrationPage {
  position: relative;
  background-color: var(--color-darkolivegreen);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-calibri);
}
